html,body{
    padding: 0;
    margin:0;
    display: flex;
    flex-flow: column ;
}

html{
    display: flex;
    min-width: 100%;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

img{
    margin: 50px;
    border:solid 5px;
    border-color: #E5E7EB;
    
    border-radius: 10px;
    display: flex;
    flex-shrink: 2;
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    width: 100%;

}

a{
    font-size: 16px;
    color: #E5E7EB;
    text-decoration: none;
}

button{
    color: #E5E7EB;
    background-color: #3882f6 ;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:solid #E5E7EB;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}   

.header{
    color: #f9faf8;
    background-color: #1f2937;
    border-bottom: solid 1px;
    border-color: white;
    padding: 20px 50px;
    gap: 20px;

    display:flex;
    flex:0 0 40px;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-title-container{
    font-size: 24px;
    font-weight: bolder;
    
}

.header-links-container{
    display: flex;
    gap: 20px;
}

.hero-container{
    padding:20px 100px;
    background-color: #1f2937;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 500px;
    gap:20px;
}

.hero-subtext{
    font-size: 18px;
    font-style: oblique;
    font-weight: normal;
}

.hero-image{
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info-container{
    padding:50px 100px;


    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap:30px;

}

.info-title{

    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    border: solid 2px;
    border-color: rgb(0, 0, 0);
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

img.info-image{
    display: flex;

    width: 20px;
    height: 20px;
    max-width: auto;
    margin:0;
    margin-bottom: 20px;
    padding: 5px;
    border: solid 5px;
    border-color: #3882f6;
    border-radius: 30px;
    
    
}

.info-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.info-image-text{
    font-weight: bold;
    font-size: normal;
    font-style: italic;
    
    display: flex;
    flex-direction: column;
    align-items: center;


}

.quote-container{
    font-style: italic;
    font-size: 32px;
    background-color: #E5E7EB; 
    padding: 50px 100px;
    gap: 20px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.signup-container{
    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-box{
    padding: 30px 80px;
    color: white;
    border: solid white;
    border-radius: 10px;

    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: ¡flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.signup-box-text{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    align-self: flex-start;
    gap: 10px;
}

.signup-box-button{
    display: flex;
    flex-direction: row;
    align-self: center;
    flex:0 0 none;
}

.footer-container{
    padding: 50px;
    background-color: #1f2937;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}